.app-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.app-today{
    margin: 15px 0px;
}

.app-list-graph{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.app-list-graph > div{
    flex-basis: 50%;
}

.app-list-graph>*{
    flex-shrink: 0;
}

.app-instruction{
    font-size: 1.1rem;
    margin: auto;
    text-align: center;
    color: white;
}

@media all and (max-width:768px){
    .app-list-graph{
        flex-direction: column;
    } 
}
